<!DOCTYPE html>
  <head>
    <title>EJS -- Embedded JavaScript templates</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="'E' is for 'effective'. EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript.">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/prism/prism.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="css/styles.css">
  </head>
  <body data-spy="scroll">

    <% sections.forEach(function(section){ %>
    <%- section.template; %>
    <% }); %>

    <!-- ******FOOTER****** -->
    <footer class="footer"></footer><!--//footer-->

    <!-- Javascript -->
    <script src="plugins/jquery-1.11.1.min.js"></script>
    <script src="plugins/jquery-migrate-1.2.1.min.js"></script>
    <script src="plugins/jquery.easing.1.3.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script src="plugins/prism/prism.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
